.footer {
    height: 200px;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 20;
    font-family: CarmenSansBold;
    border-bottom: 1px solid #000000;
  }
  
  .content-container {
    background-color: green;
    height: 500px;
  }
  .footer-container {
    background-color: #004771;
    height: 200px;
  }
  .row{
    height:200px;

  }
  .image-col{
    background-color: #72b8e0;
  }
  .des-col{
    background-color: #020f17;
  }
  